.filter-indicator-container {
  border: 1px solid #000000;
  background-color: #ADD8E6;
  padding: 2px;
  display: flex;
  flex-wrap: nowrap;
}

.filter-indicator-label {
  font-size: 11px;
}

.filter-indicator-remove {
  text-align: right;
  padding-left: 5px;

  a {
    text-decoration: none;
  }
}