$border-grey: #CBCBCB;

.data-table {
  border: 1px solid $border-grey;
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;

  thead {
    background-color: darkslateblue;
    color: azure;
    text-align: left;
    vertical-align: bottom;
    font-weight: bold;
  }

  tbody>tr:last-child>td {
    border-bottom-width:0;
  }

  td, th {
    border-left: 1px solid $border-grey;
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    overflow: visible;
    padding: .5em 1em;
  }

  td {
    background-color: transparent;
    border-bottom: 1px solid $border-grey;
  }

  td:first-child, th:first-child{
    border-left-width: 0;
  }
}

.data-table caption {
  color:#000;
  font:italic 85%/1 arial,sans-serif;
  padding:1em 0;
  text-align:center
}







